<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:insert="~{fragments/htmlHead}"/>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<th:block layout:replace="~{fragments/navMenu}"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <th:block layout:insert="~{fragments/pageTitle}"/>
            <th:block layout:fragment="bodyContents"/>
        </div>
    </div>
</div>
<th:block layout:fragment="bodyEnd"/>
<th:block layout:replace="~{fragments/bodyScripts :: loadScripts}"/>
<!--<th:block layout:replace="~{fragments/htmlFooter}"/>-->
</body>
</html>